.centerDrop{
  width: -webkit-fill-available;
}

.nav{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  

  ul{
      flex-direction: column;
      width: 100%;
      margin-right: 7%;
      margin-bottom: 0.25rem;


      li{
        display: flex;
        justify-content: center;
        
          list-style: none;
          
      }

      .open{
          display: flex;
      }
  }

 

  .menu{
      display: flex;
      /* position: absolute;
      top: 3rem;
      right: 3rem; */
      flex-direction: column;
      justify-content: space-between;
      width: 2.25rem;
      height: 2rem;
      
      

      span{
          height: 0.4rem;
          width: 100%;
          background-color: white;
          border-radius: 0.2rem;
      }
  }

}

.dropBtn{
  background: none;
  color: white;
  border: none;
  font-size: larger;
  cursor: pointer;
}

.dropBtn:hover{
  background-color: rgb(82, 108, 194);
}

.dropBtn:focus{
  background-color: rgb(82, 108, 194);
}


