
.boxCard {
  border-radius: 20px;
  /* background-color: rgba(58, 57, 57, 0.42); */
  width: 50%;
  margin-top: 5%;
  
  .aboutTitle{
    display: flex;
    justify-content: center;
    margin: 0;
  }
  

  .aboutMe {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;

    .aboutMeParagragh {
      color: white;
      padding: 1%;
      margin: 0;
      
    }
  }
}




h2 {
  color: white;
}


h4{
    color: rgb(112, 160, 249);
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 0;
    margin-top: 3%;
}

 /* projact buttons  */
 
.customBtn {
  width: 100px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  /* position: relative;
  display: inline-block; */
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.customBtn {
  background: #004dff;
  background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
  border: none;
}

.customBtn:before {
  height: 0%;
  width: 2px;
}

.customBtn:hover {
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


.allSkills{
  display: flex;
flex-direction: row;
}

.ProgrammingSkills{
  margin-top: 10%;
  margin-right: 2%;
}

.SoftSkills{
  margin-top: 10%;
  margin-bottom: 10%;
}









