.experienceDiv{
  display: flex;
  justify-content: center;
}
  
  
  .expCard {
    /* border-radius: 20px; */
    /* background-color: rgba(58, 57, 57, 0.42); */
    width: 80%;
    
    @media (width < 600px) {
      width: 80%;
    }
    
  
    .expInfo {
      display: flex;
      align-items: center;
      /* height: 40vh; */
  
      .p {
        color: white;
      }
    }
  }

  .schoolDate{
    display: flex;
    justify-content: space-between;
    
    
    @media (width < 600px){
      display: flex;
      flex-direction: column;
    }
  }

  .lage{
    color: white;
  }

  .fullStack{
    color: rgb(134, 134, 253);
    font-weight: bold;
  }

  .experDate{
    display: flex;
    justify-content: space-between;

    @media (width < 600px) {
      display: flex;
      flex-direction: column;
    }
  }

  .experience {
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
 
  }

  h3{
    color: white;
  }

  /* button style */
/* From Uiverse.io by portseif */ 
.allProjects {
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

.allProjects:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.allProjects:hover:before {
  background-color: #fff;
  width: 3rem;
}
 
  