.experienceDiv{
  display: flex;
  justify-content: center;
}
  
  
  .expCard {
    border-radius: 20px;
    /* background-color: rgba(58, 57, 57, 0.42); */
    width: 55%;
    
    
  
    .expInfo {
      display: flex;
      
      align-items: center;
      /* height: 40vh; */
  
      .p {
        color: white;
      }
    }
  }

  .schoolDate{
    display: flex;
    justify-content: space-between;
  }

  .lage{
    color: white;
  }

  .fullStack{
    color: rgb(134, 134, 253);
    font-weight: bold;
  }

  .experDate{
    display: flex;
    justify-content: space-between;
  }

  .experience {
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
 
  }

  h3{
    color: white;
  }

 
  